.InquiryFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  max-width: 400px;
  margin: 0;
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 25px;
  height: 45vh;
}

.InquiryFormHeader {
  color: var(--primary-color);
  font-family: "DM Sans", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 15px;
}

.InquiryForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
}

.FormLabel {
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  margin: 10px 0px;
}

.InquiryForm input,
.InquiryForm textarea,
.InquiryForm select {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  color: inherit;
  line-height: 1.5;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
  width: 100%;
  box-sizing: border-box; 
  background-color: #fff;
}

.InquiryForm button {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 0.8rem;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
  align-self: center;
}

.InquiryForm button:hover {
  background-color: var(--primary-color);
}

select {
  border-radius: 4px;
  padding: 10px 14px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

select:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

select:hover {
  background-color: #f1f1f1;
}

.SuccessMessage,
.ErrorMessage {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 15px;
  font-size: 1rem;
  font-family: "DM Sans", sans-serif;
}

.SuccessMessage {
  background-color: #4caf50;
  color: #fff;
}

.ErrorMessage {
  background-color: #f44336;
  color: #fff;
}