.FooterBackground {
    background-color: var(--background-color);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    background-color: var(--background-color);
    border-top: 1px solid white;
    height: 50px;
}