.AppTitleContainer {
    display: flex;
    align-items: center;
}

.AppIcon {
    height: 37.5px;
    width: 37.5px;
}

.AppTitle {
    color: #fff;
    font-size: inherit;
}

.AppTitleCloud {
    color: var(--primary-color);
}
