.AppTitleCloud {
    color: var(--primary-color);
}

.AppText {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
    padding: 50px 0px;
    /* background-color: antiquewhite; */
}

@media screen and (max-width: 500px) {
    .AppText {
        flex-direction: column;
    }
}

.AppTextLeft {
    padding-top: 40px;
    padding-bottom: 40px;
}


.WelcomeText {
    color: var(--primary-color);
    background-color: var(--background-color);
    width: 30vw;
    font-weight: 800;
    opacity: 0;
    transform: translateY(20px);
    animation: slideUp 0.7s ease-out forwards;
    /* background-color: red; */
    text-justify: inter-word;
    font-size: 3.5vw;
}

@media screen and (max-width: 500px) {
    .WelcomeText {
        width: 70vw;
        text-align: center;
        font-size: 30px;
    }
}

.SecondaryWelcomeText {
    color: var(--second-text-color);
    font-size: 20px;
    border-radius: 15px;
    padding: 40px;
    width: 25vw;
    margin-right: 5vw;
    font-weight: 500;
    font-style: italic;
    opacity: 0;
    transform: translateY(20px);
    animation: slideUp 0.7s ease-out 0.35s forwards;
}

@media screen and (max-width: 500px) {
    .SecondaryWelcomeText {
        width: 70vw;
    }
}

.WelcomeDigitalText {
    color: white;
}

.UICards {
    display: flex;
    justify-content: space-between;
    width: 85vw;
}

@media screen and (max-width: 500px) {
    .UICards {
        flex-direction: column;
        align-items: center;
        height: 115vw;
    }
}

.MyFilesUI, .EditPageUI {
    display: flex;
    width: 39vw;
    aspect-ratio: 2880/2140;
}

@media screen and (max-width: 500px) {
    .MyFilesUI, .EditPageUI {
        width: 70vw;;
    }
}

.MyFilesUIImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 50px 1em rgba(5, 146, 240, 0.2);
    opacity: 0;
    transform: translateY(20px);
    animation: slideUp 0.7s ease-out 0.7s forwards;
}

.EditPageUIImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 50px 1em rgba(5, 146, 240, 0.2);
    opacity: 0;
    transform: translateY(20px);
    animation: slideUp 0.7s ease-out 0.7s forwards;
}

.LogoDiv {
    font-size: 75px;
    padding-top: 2rem;
}

.MoneyText {
    color: var(--primary-color);
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 600px) {
    .AppTitle {
        font-size: 2.5rem;
    }

    .AppText {
        font-size: 1.5rem;
        padding: 10px;
    }

    .AppIcon {
        width: 12vw;
        height: 12vw;
        max-width: 60px;
        max-height: 60px;
    }
}