@import '../../styling/Colors.css';

.BenefitsLine {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
}

.PaddingTop {
    padding-top: 100px;
}

.BenefitCard {
    background-image: linear-gradient(0deg, var(--primary-color) -300%, var(--box-color) 50%);
    width: 34vw;
    border-radius: 10px;
    height: 125px;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    white-space: normal;
    margin-top: 2vw;
}

.BenefitCard > h1 {
    width: inherit;
    padding-left: 10px;
    padding-top: 10px;
}

.BenefitCard > p {
    padding-left: 10px;
    padding-top: 10px;
}