.AppBackground {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--background-color);
    width: 100vw;
}
  
.AppTitleCloud {
    color: var(--primary-color);
}

.AppText {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
    padding: 50px 0px;
}

.WelcomeText {
    color: var(--primary-color);
    font-size: 4rem;
    background-color: var(--background-color);
    border-radius: 25px;
    padding: 40px;
    width: 30vw;
}

.WelcomeDigitalText {
    color: white;
}

.SecondaryWelcomeText {
    color: white;
    font-size: 1.5rem;
    font-weight: 200;
    background-color: var(--background-color);
    border-radius: 15px;
    padding: 40px;
    width: 25vw;
    margin-right: 5vw;
}

.UICards {
    display: flex;
    justify-content: space-between;
    width: 80vw;
}

.MyFilesUI, .EditPageUI {
    display: flex;
    width: 39vw;
    aspect-ratio: 2880/2140;
}

.MyFilesUIImage, .EditPageUIImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.SectionTitle {
    color: white;
    font-size: 3rem;
    padding-top: 200px;
    padding-inline: 50px;
    border-bottom: 1px solid white;
}

.IntroGallery {
    display: flex;
    width: 80vw;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 50px;
    font-weight: 600;
}

.HomeCard {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    width: 21vw;
    height: 25vw;
    background-color: var(--background-color);
    border-radius: 20px;
    /* border: 3px solid white; */
}

.HomeCardText {
    display: flex;
    align-items: center;
    height: 4vw;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 200;
}

.HomeCardImg {
    width: 21vw;
    aspect-ratio: 1/1;
    border-radius: inherit;
    object-fit: fill;
    padding: 10px;
}

.LogoDiv {
    font-size: 75px;
    padding-top: 2rem;
}

.MoneyText {
    color: var(--primary-color);
}

#typing-text .future {
    color: var(--primary-color);
    font-style: italic;
}

@media (max-width: 600px) {
    .AppTitle {
        font-size: 2.5rem;
    }

    .AppText {
        font-size: 1.5rem;
        padding: 10px;
    }

    .AppIcon {
        width: 12vw;
        height: 12vw;
        max-width: 60px;
        max-height: 60px;
    }
}