.AboutBackground {
    background-color: var(--background-color);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: var(--background-color);
}

.AboutBackground > h1 {
    font-weight: 200;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 3rem;
    padding-inline: 50px;
    border-bottom: 1px solid white;
}

.TextTitles {
    display: flex;
    font-size: 2em;
    background-color: var(--background-color);
    padding: 10px;
    width: 80vw;
    align-items: center;
    justify-content: center;
}

.Text {
    display: flex;
    font-weight: 300;
    background-color: var(--background-color);
    width: 80vw;
    padding: 25px;
    text-align: center; /* Added this line */
}
