@import '../../styling/Colors.css';

.AccordionClass {
    padding-top: 10px;
    width: 50vw;
    background-color: var(--background-color) !important;
}

.AccordionSummaryClass {
    font-size: 2em !important;
    background-color: var(--box-color) !important;
    color: white !important;
}

.AccordionDetailsClass {
    color: var(--second-text-color) !important;
    background-color: var(--box-color) !important;
    border-top: 1px solid white !important;
}








.UIContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75vw;
    padding-top: 100px;
    background-color: gray;
}

.LeftSide{
    display: flex;
    width: 50vw;
    height: 500px;

    background-color: aqua;
}

.RightSide{
    width: 25vw;
    flex-direction: column;
    justify-content: start;
    background-color: red;
}

.StepCard {
    display: flex;
    height: 100px;
    width: inherit;
    align-items: center;
    justify-content: space-between;
}

.StepCard:hover .SecondaryStepText {
    color: var(--second-text-color);
    transition-duration: 300ms;
}

.Number {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 80px;
    font-size: 2.5rem;
    font-weight: 200;
    background-color: var(--primary-color);
    border-radius: 40px;
    align-items: center;
    font-weight: 800;
    text-align: center;
}

.StepText {
    height: 60px;
    line-height: 60px;
    font-size: 1.75rem;
    padding-left: 2vw;
    font-weight: 600;
}

.SecondaryStepText {
    color: var(--background-color);
    padding-left: 25px;
}

.RightSide > h1 {
    font-weight: 500;
    font-size: 4rem;
    border-top: 1px solid white;
    border-left: 1px solid white;
    color: var(--primary-color);
    width: 20vw;
    text-align: center;
    padding-bottom: 50px;
    background-color: green;
}

.StepCardLeft {
    display: flex;
}